<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>关于博主</title>

    <style>
        body {
            background-color: #6dbfff
        }

        h1 {
            color: orange;
            text-align: center;
        }

        hr {
            color: #66512c;
        }

        p {
            font-family: "arial";
            font-size: 20px;
            padding: 2px 10px 3px 10px;
        }
    </style>

    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("Test", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("Text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>


    <style>.container {
        width: 800px;
        height: 800px;
        background: #f7ecb5;
    }
    </style>
</head>

<body>

{#<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">#}
{#</canvas>#}

<div id="main-container" class="container">
    <section class="post-left">
        <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于我</span>
        </div>
        <hr>
        <div class="post-main clearfix">
            <h1 class="post-title">关于我</h1>
            <div class="post-con clearfix">
                <div class="article-meta"><span class="item">2018-12-28</span></div>
                <article class="article-content">
                    <p>熊本熊（日语：くまモン，英语：Kumamon，官方中文名：酷MA萌）是日本熊本县营业部长兼幸福部长、熊本县地方吉祥物。熊本熊是中国的粉丝们给くまモン起的别名和昵称，并不是正式的名称。
                        熊本熊最初设计目的是以吉祥物的身份，为熊本县带来更多的观光以及其他附加收入，并在2011年被授予熊本县营业部长兼幸福部长，成为日本第一位吉祥物公务员。在振兴熊本县经济、宣传熊本县名气的同时，熊本熊依靠自身呆萌的形象、独特的授权运营方式，在日本本国及本国以外获得了超乎想象的欢迎，成为在世界上拥有极高人气的吉祥物。</p>

                </article>

            </div>

        </div>
        <div id="div1" ondrop="drop(event)"
             ondragover="allowDrop(event)"></div>

        <img id="drag1" src="/static/images/2.JPG" draggable="true"
             ondragstart="drag(event)" width="680" height="383">

    </section>
</div>

</body>

<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d"); //启用2d画笔
    {#ctx.fillStyle = "#FF0000"#}
    {#ctx.fillRect(0, 0, 150, 75) //绘制矩形#}
    {#ctx.moveTo(0,0);#}
    {#ctx.lineTo(200,100);#}
    {#ctx.stroke();#}
    {#ctx.beginPath();#}
    {#ctx.arc(95,50,40,0,2*Math.PI);#}
    {#ctx.stroke();#}

    ctx.font = "35px Arial";
    //ctx.fillText("熊本驾到！", 10, 50);
    ctx.strokeText("熊本在此！", 15, 55)
    {#var grd = ctx.createLinearGradient(0,0,200,0); //创建线条渐变#}
    {#grd.addColorStop(0,"red");#}
    {#grd.addColorStop(1,"white");#}

    var grd = ctx.createRadialGradient(75, 50, 5, 90, 60, 100); //创建线条渐变
    grd.addColorStop(0, "red");
    grd.addColorStop(1, "white");
    ctx.fillStyle = grd;
    ctx.fillRect(10, 10, 150, 80);

    var img = document.getElementById("scream");
    ctx.drawImage(img, 10, 10, 100, 100);
</script>


</html>