<!DOCTYPE HTML>
<html>
<head>
    <style>.container {
        width: 960px;
        height: 600px;
        background: #f7ecb5;
    }
    </style>
</head>

<body>
<div id="main-container" class="container">
    <section class="post-left">
        <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于我</span>
        </div>
        <div class="post-main clearfix">
            <h1 class="post-title">关于我</h1>
            <div class="post-con clearfix">
                <div class="article-meta"><span class="item">2018-12-28</span></div>
                <article class="article-content">
                    <p>熊本熊（日语：くまモン，英语：Kumamon，官方中文名：酷MA萌）是日本熊本县营业部长兼幸福部长、熊本县地方吉祥物。熊本熊是中国的粉丝们给くまモン起的别名和昵称，并不是正式的名称。
                        熊本熊最初设计目的是以吉祥物的身份，为熊本县带来更多的观光以及其他附加收入，并在2011年被授予熊本县营业部长兼幸福部长，成为日本第一位吉祥物公务员。在振兴熊本县经济、宣传熊本县名气的同时，熊本熊依靠自身呆萌的形象、独特的授权运营方式，在日本本国及本国以外获得了超乎想象的欢迎，成为在世界上拥有极高人气的吉祥物。</p>

                </article>

            </div>

        </div>
        <!-- /文章 -->
    </section>
</div>
</body>
</html>