{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <title>运维</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap /3.3.1/css/bootstrap.min.css"/>#}
    <script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background: #E8F7FC;
            margin: 0 auto;
        {#width: 900px;#} vertical-align: middle;
            font-size: 1.5em;
        }

    </style>
</head>

<body>
<div class="container-fluid">

    <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">运维</span>
    </div>

    {#    超大屏幕（Jumbotron）。顾名思义该组件可以增加标题的大小#}
    <div class="jumbotron"
         style="background-image: url('/static/images/3.JPG');background-repeat: no-repeat;background-position: left top;opacity: 0.6;background-color:transparent;">

        <h1 style="color: orange">运维</h1>
        <p style="color: orange">本页记录了工作中遇到的运维方面的知识点</p>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>内容</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <th>shell</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th>supervisor</th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>nginx</th>
                </tr>
                <tr>
                    <th>4</th>
                    <th>docker</th>
                </tr>
                <tr>
                    <th>5</th>
                    <th>git</th>
                </tr>
                <tr>
                    <th>6</th>
                    <th>
                        <a href="base.html" style="color: blue">jenkins（可点击）</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {#    <img src="/static/images/3.JPG" class="img-responsive img-circle" alt="Cinque Terre">#}

    <table border="1" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>问题</th>
            <th>解决方法</th>
        </tr>
        </thead>
        {#    shell问题汇总#}
        <tbody>
        <tr bgcolor="#87cefa">
            <td colspan="2">【shell】</td>
        </tr>
        <tr>
            <td>强制查杀应用进程：</td>
            <td>sc queryex 应用名<br>
                taskkill /pid xxx /f /t
            </td>
        </tr>
        </tbody>

        {#        supervisor问题汇总#}
        <tbody>
        <tr bgcolor="#87cefa">
            <td colspan="2">【supervisor】</td>
        </tr>
        <tr>
            <td>supervisor启动：</td>
            <td>supervisorctl -u 用户名 -p 密码 start 应用名</td>
        </tr>
        <tr>
            <td>supervisor停止：</td>
            <td>supervisorctl -u 用户名 -p 密码 stop 应用名</td>
        </tr>
        </tbody>

        {#        nginx问题汇总#}
        <tbody>
        <tr bgcolor="#87cefa">
            <td colspan="2">【nginx】</td>
        </tr>
        <tr>
            <td>查看nginx进程是否存在：</td>
            <td>ps -ef | grep nginx</td>
        </tr>
        <tr>
            <td>nginx配置语法检查：</td>
            <td>/usr/local/nginx/sbin/nginx -t</td>
        </tr>
        <tr>
            <td>nginx重载：</td>
            <td>nginx -s reload</td>
        </tr>
        </tbody>

        {#        docker问题汇总#}
        <tbody>
        <tr bgcolor="#87cefa">
            <td colspan="2">【docker】</td>
        </tr>
        <tr>
            <td>查看镜像：</td>
            <td>docker images</td>
        </tr>
        <tr>
            <td>删除镜像：</td>
            <td>docker rmi 【image id】</td>
        </tr>
        <tr>
            <td>删除容器：</td>
            <td>docker rm 【container id】</td>
        </tr>
        <tr>
            <td>查看所有容器：</td>
            <td>docker ps -a</td>
        </tr>
        <tr>
            <td>docker启动容器（第一次），如tomcat：</td>
            <td>docker run --name tomcat -p 8888:8080 tomcat:8.0</td>
        </tr>
        <tr>
            <td>docker启动容器（非首次）：</td>
            <td>docker start 容器名</td>
        </tr>
        </tbody>

        {#        git问题汇总#}
        <tbody>
        <tr bgcolor="#87cefa">
            <td colspan="2">【git】</td>
        </tr>
        <tr>
            <td>查看当前git版本：</td>
            <td>git --version</td>
        </tr>
        <tr>
            <td>强制拉取远程仓库覆盖本地仓库：</td>
            <td> git fetch --all<br>
                git reset --hard origin/master<br>
                git pull<br>
                git fetch --all && git reset --hard origin/master && git pull（用一条命令）
            </td>
        </tr>
        </tbody>

        {#    Jenkins问题汇总#}
        <tbody>
        <tr bgcolor="#87cefa">
            <td colspan="2">【jenkins】</td>
        </tr>
        <tr>
            <td>节点机正在访问Jenkins服务器源目录，登录失败: 未知的用户名或错误密码：</td>
            <td>1、先去节点机服务里找到Jenkins agent，在属性里配置.\Administrator<br>
                2、控制面板——凭据管理器——添加Windows凭据（IP地址，用户名密码）
            </td>
        </tr>
        <tr>
            <td>常用maven编译命令：</td>
            <td>mvn clean package -Dmaven.test.skip=true</td>
        </tr>
        <tr>
            <td>启动一个django服务：</td>
            <td>BUILD_ID=DONTKILLME nohup python manage.py runserver 0.0.0.0:8090 &</td>
        </tr>
        <tr>
            <td>启动java服务时设置内存的命令：</td>
            <td>java -jar -Xmx300m -Xms300m 应用名.jar<br>
                java -jar -Xmx300m -Xms300m 应用名.jar<br>
                java -Dspring.profiles.active=qa -jar -Xmx300m -Xms300m 应用名.jar<br>
                java -jar -Xms128m -Xmx256m 应用名.jar --spring.profiles.active=qa
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script src="{% static 'js/jquery.min.js' %}"></script>

{#<script>#}
{#    $("#jenkin").click(function () {#}
{#        $.get("base.html", function (data, status) {#}
{#            alert("Data: " + data + "nStatus: " + status);#}
{#        });#}
{#    });#}
{#</script>#}


</html>