{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="个人博客"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <title>个人博客</title>
</head>
<body>
<div class="wrap">
    <h1 id="logo"><a href="#" style="background: #f7ecb5">熊本在线</a></h1>
    <ul id="menu">
        <li><a href="/">首页</a></li>
        {% for category in allcategory %}
            <li><a href="{% url 'index' %}list-{{ category.id }}.html">{{ category.name }} </a></li>
        {% endfor %}
        <li><a href="/about/">关于博主</a></li>
    </ul>

    <div id="text">
        <h2>心灵鸡汤</h2>
        <br/><br/><br/><br/><br/>
        <h5>1、最优秀的人，往往是最努力的人</h5><br/>
        <h5>2、如果没有了勤奋，天才也将一无所获</h5><br/>
        <h5>3、任何事情都要竭尽全力，而不是尽力而为</h5><br/>
        <h5>4、哪怕是微不足道的小事，也要花费大工夫</h5><br/>
        <h5>5、懒惰就像灰尘，再硬的铁碰上也会生锈</h5><br/>
        <h5>6、勤奋和智慧是双胞胎，懒惰和愚蠢是亲兄弟</h5><br/>
        <h5>7、勤于反省，才有不断进步的可能</h5><br/>
        <h5>8、每一个伟大的奇迹，都源于信心的力量</h5><br/>
        <h5>9、信心是生命的骨架，信心是命运的主宰</h5><br/>
        <h5>10、自卑的泥沼里，无法长出成功的花朵</h5><br/>
        <h5>11、如果缺少自信，恐惧就会凭空存在</h5><br/>
        <h5>12、在自信者面前，没有什么是“不可能”的</h5><br/>
        <h5>13、信心不能给你果实，却能告诉你如何得到它</h5><br/>
        <h5>14、在人生的大海中，没有不受伤的船</h5>

    </div>
</div>

<div id="footer">
    <div class="wrap">
        <div id="bubble"><p>某位伟人曾说过：<br/>书是人类社会进步的阶梯</p></div>
        <div id="copyright">
            <p><a title="寻找"
                  href="http://www.baidu.com/">www.baidu.com</a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>

</html>