{% load staticfiles %}

<!DOCTYPE html>
<head>
    <title>个人博客</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

    <style>
        .img-responsive {
            display: block;
            height: auto;
            max-width: 100%;
        }


        a:link {
            color: greenyellow;
        }

        a:visited {
            color: yellow;
        }

        a:hover {
            color: black;
        }

        a:active {
            color: lightskyblue;
        }
    </style>

</head>
<body>
<div class="wrap">
    <h1 id="logo" style="text-shadow: 2px 2px
 #7276ff;font-size: 50px">熊本在线</h1>
    <ul id="menu">
        <li><a href="/">首页</a></li>
        {% for category in allcategory %}
            <li><a href="{% url 'index' %}list-{{ category.id }}.html">{{ category.name }} </a></li>
        {% endfor %}
        <li><a href="/about/">关于博主</a></li>
    </ul>

    <div id="text">
        <h2>心灵鸡汤</h2>
        <br/><br/><br/><br/><br/>
        <img src="/static/images/WechatIMG189.jpeg" width=100% height=100%>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td>1、最优秀的人，往往是最努力的人</td>
                    <td>2、如果没有了勤奋，天才也将一无所获</td>
                    <td>3、任何事情都要竭尽全力，而不是尽力而为</td>
                </tr>
                <tr>
                    <td>4、哪怕是微不足道的小事，也要花费大工夫</td>
                    <td>5、懒惰就像灰尘，再硬的铁碰上也会生锈</td>
                    <td>6、勤奋和智慧是双胞胎，懒惰和愚蠢是亲兄弟</td>
                </tr>
                <tr>
                    <td>7、勤于反省，才有不断进步的可能</td>
                    <td>8、每一个伟大的奇迹，都源于信心的力量</td>
                    <td>9、信心是生命的骨架，信心是命运的主宰</td>
                </tr>
                <tr>
                    <td>10、自卑的泥沼里，无法长出成功的花朵</td>
                    <td>11、如果缺少自信，恐惧就会凭空存在</td>
                    <td>12、在自信者面前，没有什么是“不可能”的</td>
                </tr>
                <tr>
                    <td>13、信心不能给你果实，却能告诉你如何得到它</td>
                    <td>14、在人生的大海中，没有不受伤的船</td>
                    <td>15、正真的自信，产生于坚强的意志</td>
                </tr>
                <tr>
                    <td>16、成功就是自信地走你自己的路</td>
                    <td>17、没有了热忱，世界便不会有进步</td>
                    <td>18、拥有热忱，你就有了改写命运的能力</td>
                </tr>
                <tr>
                    <td>19、信心可以产生热忱，而热忱则征服世界</td>
                    <td>20、当热忱变成习惯，恐惧和忧虑将无处容身</td>
                    <td>21、集中突破，将热忱用在一件事上</td>
                </tr>
                <tr>
                    <td>22、热忱但不要盲目，否则有损无益</td>
                    <td>23、觉得为时已晚的时候，恰恰是最早的时候</td>
                    <td>24、现在偷懒瞌睡流的口水，将成为明天的眼泪</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="footer">
    <div class="wrap">
        {#        <div id="copyright">#}
        <p><a title="寻找"
              href="http://www.baidu.com/" target="_blank" style="text-decoration: none"><h1>www.baidu.com</h1></a>
        </p>
    </div>
    <div class="clear"></div>
</div>
</div>
</body>

</html>